@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

body{
 font-family: Roboto;
 color: #757575;
}
#nav-opciones{
width: 100%;
height: 80px;
background-color: #FFFFFF;
text-align: center;
}
#logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
color: #2196F3;
padding-right: 10%;
}
.linkmenu{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
margin-right: 5%;
}
.linkcontac{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
margin-right: 3%;;
}
#link:hover{
color: #2196F3;
}
/*imagen principal del index*/
.background-actividad{
width: 100%;
height: 600px;
background-color: #2F303A;
display: flex;
align-items: center;
}
#bg-titulo{
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
width: 950px;
height: 120px;
margin: 0 auto;
}
#btn-servicio{
font-family: 'roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
color: #FFFFFF;
align-items: center;
text-align: center;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 32px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
margin: 0 auto;
}
/* alineacion de articulos horizontal (texto e imagenes)*/
.articulos{
display: flex;
align-items: center;
text-align: center;
}
.article{
width: 270px;
height: auto;
margin: 0px auto;
padding-right: 50px;
text-align: justify;
font-weight: 400;
font-size: 14px;
}
.article>h1 {
color: #212121;
}
.img-actividad {
width: 373px;
height: 323px;
margin: 10px;
}
/* equipo de trabajo*/
#equipo-trabajo{
width: 100%;
height: 648px;
background-color: #F5F4FA;
}
.trabajador{
width: 270px;
height: 368px;
background-color: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
text-align: center;
margin: 15px;
}
.foto-trabajador{
width: 270px;
height: 260px;
border-radius: 0px;
}
#posicion-foto{
display: flex;
align-items: center;
margin: 50px;
}
#contacto{
width: 100%;
height: 252px;
background-color: #2F303A;
}
#datos-contac{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;
width: 231px;
height: 92px;
padding-left: 10%;
padding-top: 2%;
}
#datos-contac > a{
display: block;
}
/*programacion de botones paagina portafolio*/
#contendor-lista-botones{
display: inline;
text-decoration: none;
width: 100%;
align-items: center;
}
.boton-filtro{
width: 145px;
height: 38px;
background: #F5F4FA;
border-radius: 4px;
}
.boton-filtro:hover{
cursor: pointer;
background: #2196F3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}